<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Talk To Me</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" href="/favicon.png" type="image/png" />
        <script src="/js/clmtrackr.js"></script>
        <script src="/js/particles.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="/js/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/speechToText.js"></script>
        <script src="/js/textToSpeech.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
