<!-- <div id="register-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="register-username" class="control-label"> Username: </label>
                        <input type="text" class="form-control" id="register-username">
                    </div>
                    <div class="form-group">
                        <label for="register-password" class="control-label"> Password: </label>
                        <input type="text" class="form-control" id="register-password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                <button type="button" class="btn btn-primary" id="register-submit"> Register </button>
            </div>
        </div>
    </div>
</div>
<div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Login </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="login-username" class="control-label"> Username: </label>
                        <input type="text" class="form-control" id="login-username">
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="control-label"> Password: </label>
                        <input type="text" class="form-control" id="login-password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                <button type="button" class="btn btn-primary" id="login-submit"> Login </button>
            </div>
        </div>
    </div>
</div> -->

<div id="main-container" class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title" id="panel-title">
            <div id="panel-title-left"> Talk to Me </div>
            <!-- <div id="panel-title-right">
                <span id="login-button"> Login </span>
                <span id="register-button"> Register </span>
            </div> -->
        </div>
    </div>
    <div id="msg-container" class="panel-body">
    {{#if msgArray}}
    {{#each msgArray}}
        {{#if msgArray.bot}}
        <div class="bot-msg">{{this.text}}</div>
        {{else}}
        <div class="user-msg">{{this.text}}</div>
        {{/if}}
    {{/each}}
    {{/if}}
    </div>
    <div class="panel-footer">
        <form class="input-group" autocomplete="off">
            <input id="msg-field" type="text" name="msg" class="form-control" autocomplete="off" />
            <span class="input-group-btn">
                <button id="msg-submit" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
            </span>
        </form>
    </div>
</div>
