<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="text" id="intro">
    Talk to Me is a venting chatbot that offers a disposable experience of venting.
    Talk to Me is an Artificial Empathy which understands your emotion. Subsequently, it responds according to its programmed tier of distress, including simple exercises designed to help you relax.
    <br/><br/>If you're somewhere that is loud or if you don't feel like speaking, feel free to click the type icon on the far left of the screen to switch to a chatbox mode. You can always switch back!
    <br/><br/>If you prefer silence, feel free to click on the speaker icon to mute! Talk to Me is always here for you.
    <br/><br/>Feel free to take as long as you need, to let out any frustration and find relief!
    </p>
  </div>
</div>

<div id="main-container">
  <div class="mask">
  </div>
      <div class="pin-bottom">
        <div id="msg-container" class="panel-body">
            <div class="bot-msg">Hi! I'm here for you to vent.</div>
            <div class="bot-msg">You can tell me anything!</div>
            <div class="bot-msg">I may get some things wrong, but I will always be listening.</div>
            <div class="bot-msg">You can switch to the talking mode, or just enable my Voice!</div>
        {{#if msgArray}}
        {{#each msgArray}}
            {{#if msgArray.bot}}
            <div class="bot-msg">{{this.text}}</div>
            {{else}}
            <div class="user-msg"><p class="right">{{this.text}}</p></div>
            {{/if}}
        {{/each}}
        {{/if}}
        </div>
        <div class="typing">
            <form autocomplete="off">
                <input id="msg-field" type="text" name="msg" autocomplete="off" />
                <span>
                    <button id="msg-submit" type="submit"><span class="glyphicon glyphicon-arrow-up"></span></button>
                </span>
            </form>
        </div>
      </div>
</div>

<!-- Toggle Buttons for User Chat / Microphone, and for the Empathy bot's Voice -->
<div class="options">
    <button id="mode-button"><span class="fa fa-keyboard-o icon" id="mode-toggle"></span></button>
    <button id="volume-button"><span class="glyphicon glyphicon-volume-up icon" id="volume-toggle"></span></button>

<!-- Black/White Toggle-->
    <!-- <div class="monotone">
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div> -->
</div>

<!-- Visuals for the Empathy bot -->
<div id="visuals">
    <video style="display: none" id="video" width="100" height="100" preload="auto" playsinline autoplay></video>
    <div class="canvas" id="particles-js"/>
<div>
<!-- Empathy bot's Information section -->
<a class="text" id="info">
    <i>Talk To Me</i>
</a>
