<div id="main-container">
    <div class="chat">
        <div id="msg-container" class="panel-body">
            <div class="bot-msg">Hi! I'm an Empathy bot that you can vent to.</div>
            <div class="bot-msg">I may get some things wrong, but I will still be listening.</div>
            <div class="bot-msg">You can enable my Voice, or my Visual!</div>
        {{#if msgArray}}
        {{#each msgArray}}
            {{#if msgArray.bot}}
            <div class="bot-msg">{{this.text}}</div>
            {{else}}
            <div class="user-msg">{{this.text}}</div>
            {{/if}}
        {{/each}}
        {{/if}}
        </div>
        <div class="typing">
            <form autocomplete="off">
                <input id="msg-field" type="text" name="msg" autocomplete="off" />
                <span>
                    <button id="msg-submit" type="submit"><span class="glyphicon glyphicon-arrow-up"></span></button>
                </span>
            </form>
        </div>
    </div>
</div>

<!-- buttons -->
<div class="options">
  <span class="fa fa-microphone icon" id="voice-toggle"></span>
  <span class="glyphicon glyphicon-volume-up icon" id="volume-toggle"></span>
</div>

<!-- visuals -->
<video style="display: none" id="video" width="100" height="100" preload="auto" playsinline autoplay></video>

<!-- info -->
<a class="text" id="info">
<i>Talk To Me</i>
</a>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="text">Some text in the Modal..</p>
  </div>
</div>
