<div id="main-container">
    <div class="chat">
        <div id="msg-container" class="panel-body">
            <div class="bot-msg">Hi! I'm an Empathy bot that you can vent to.</div>
            <div class="bot-msg">I may get some things wrong, but I will still be listening.</div>
            <div class="bot-msg">You can enable my Voice, or my Visual!</div>
        {{#if msgArray}}
        {{#each msgArray}}
            {{#if msgArray.bot}}
            <div class="bot-msg">{{this.text}}</div>
            {{else}}
            <div class="user-msg">{{this.text}}</div>
            {{/if}}
        {{/each}}
        {{/if}}
        </div>
        <div id="line"></div>
        <div class="typing">
            <form autocomplete="off">
                <input id="msg-field" type="text" name="msg" autocomplete="off" />
                <span>
                    <button id="msg-submit" type="submit"><span class="glyphicon glyphicon-arrow-up"></span></button>
                </span>
            </form>
        </div>
        <span class="glyphicon glyphicon-volume-up icon" id="volume-toggle"></span>
        <span class="fa fa-microphone icon" id="voice-toggle"></span>
        <div class="information-container">
            <div></div>
        </div>
    </div>
    <div class="chat"></div>
</div>
