html {
    height: 100%;
}

body {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 550px;
    max-height: 100%;
}

#msg-container {
    height: 500px;
    overflow-y: auto;
}

#panel-title {
    display: flex;
    justify-content: space-between;
}
#panel-title-left {
    flex: 0.8;
}
#panel-title-right {
    flex: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#login-button, #register-button {
    font-size: 14px;
    cursor: pointer;
}

.bot-msg, .user-msg {
    border-radius: 6px;
    padding: 7px;
    margin: 2px;
    width: 65%;
    display: inline-block;
    /* word-wrap */
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}
.bot-msg {
    background-color: #eee;
}
.user-msg {
    background-color: #0084ff;
    color: white;
    float: right;
}
