html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

#main-container {
    width: 35%;
    height: 73%;
    position: fixed;
    border: solid 30px black;
    left: -100%;
    top: 15%;
    z-index: 800;
    background-color: black;
    overflow-y: hidden;
    /* float: left; */
}

.mask{
  position: absolute;
  width: 100%;
  height: 15%;
  z-index: 100;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#msg-container {
    overflow-y: auto;
    background-color: black;
    /* vertical-align:bottom; */
}

#voice-toggle, #visual-toggle {

}

.user-msg, .bot-msg, .bot-sub-msg {
    font-family: “HelveticaNeue-Light”, “Helvetica Neue Light”, “Helvetica Neue”, Helvetica, Arial, “Lucida Grande”, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    /* border-radius: 6px; */
    padding: 7px;
    margin: 2px;
    width: 100%;
    display: inline-block;
    /* word-wrap */
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.pin-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.right{
  float: right;
  max-width: 80%;
}

p{
    padding: 0;
    margin: 0;
}

.user-msg {
    color: #999;
    padding: 0;
}

.bot-msg {
    color: white;
    width: 80%;
}
.bot-sub-msg {
    width: inherit;
}

input{
    border: none;
    background-color: black;
    padding-top: 15px;
    color: #999;
    font-family: “HelveticaNeue-Light”, “Helvetica Neue Light”, “Helvetica Neue”, Helvetica, Arial, “Lucida Grande”, sans-serif;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.03em;
    width: 90%;
}

textarea, input, button { outline: none; }

.typing{
  display: inline-block;
  border-top: 2px solid #999;
  width: 100%;
}

#visuals{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

#particles-js{
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: url('');
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
}

button {
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: auto;
}

.options{
  width: 45px;
  position: fixed;
  left: 5%;
  top: 10%;
  z-index: 800;
}

#mode, #vol{
  width: 45px !important;
  height: 45px !important;
  margin-bottom: 25% !important;
}

.icon{
  color: white;
  font-size:30px;
}

.text{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  text-decoration: none;
}

#info{
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 0.05em;

  background-color: black;
  padding-left: 2%;
  padding-right: 2%;
	position: fixed;
	float: right;
	right: 6.5%;
	bottom: 5%;
}

#info:hover{
	color: white;
}

#intro{
  font-weight: bold;
  color: black;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding: 10%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: white;
    margin: 7% auto; /* 15% from the top and centered */
    width: 50%;
    border-radius: 0%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    padding: 5%;
    font-size: 28px;
    font-weight: 200;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
