html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    background-color: black;
}

#main-container {
    width: 40%;
    height: 100%;
    position: fixed;
    left: 15%;
    top: 8%;
    z-index: 500;
    /* float: left; */
}

#msg-container {
    height: 80%;
    overflow-y: auto;
    background-color: black;
    /* vertical-align:bottom; */
}

#voice-toggle, #visual-toggle {

}

.chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.user-msg, .bot-msg, .bot-sub-msg {
    font-family: “HelveticaNeue-Light”, “Helvetica Neue Light”, “Helvetica Neue”, Helvetica, Arial, “Lucida Grande”, sans-serif;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.03em;
    /* border-radius: 6px; */
    padding: 7px;
    margin: 2px;
    width: 100%;
    display: inline-block;
    /* word-wrap */
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
.user-msg {
    color: #999;
    float: right;
}
.bot-msg {
    color: white;
}
.bot-sub-msg {
    width: inherit;
}

input{
    border: none;
    background-color: black;
    padding-top: 15px;
    color: #999;
    font-family: “HelveticaNeue-Light”, “Helvetica Neue Light”, “Helvetica Neue”, Helvetica, Arial, “Lucida Grande”, sans-serif;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 0.03em;
    width: 90%;
}

textarea, input, button { outline: none; }

.typing{
  display: inline-block;
  border-top: 2px solid #999;
  width: 100%;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    width: 7%;
}

.options{
  display: inline-block;
  position: fixed;
  left: 5%;
  bottom: 7%;
  z-index: 500;
}

#volume-toggle, #voice-toggle{
  padding-right: 20px;
}

.icon{
  color: white;
  font-size:30px;
}

.text{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  text-decoration: none;
}

#info{
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 0.05em;

	position: fixed;
	float: right;
	right: 5%;
	bottom: 3%;
}

#info:hover{
	color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
